h1{
  font-family: Arial Black, Times New Roman;
  color: Black;
  font-size: 60px;
}

h3{
  font-family: Helvetica, Times New Roman;
  color: Maroon;
  font-size: 30px;
}

p{
  font-family: Comic Sans MS, Times New Roman;
}
